<div *ngIf="openPopup" class="modal modalView" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
       <div class="row"> 
          <div class="col-md-6">
            <img class="img-fluid" [src]=imgPop download>
          </div>
          <div class="col-md-6">
             {{descPop}}
           </div>
           </div>
           <div class="modal-footer mt-3">
            <button type="button" class="btn btn-primary" (click)="downloadImage()">Download</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "closePopup()">Close</button>
          </div>
         
      </div>      
    </div>
  </div>
</div>
<div class="container">
   <div class="row"> 
      <div *ngFor='let image of imageList' class="col-md-3 mb-3">
        <div id={{image.id}}>
        <img   class= "img-fluid" [src]=image.url (click)= 'popUpImg(image.id)'>
        </div>
      </div>    
   </div>
</div>

<ng-template #content let-modal>
 
</ng-template>
