/* Add application styles & imports to this file! */


html,
body{
  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.shadow{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}